.stats-section{
    max-width:1200px;
    margin:80px auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:25px;

    padding:0 30px;
}

.stat-card{

    background:#1e293b;

    border-radius:18px;

    padding:35px;

    text-align:center;

    transition:.35s;

    border:1px solid rgba(255,255,255,.05);
}

.stat-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 40px rgba(56,189,248,.18);

    border-color:#38bdf8;
}

.icon{

    font-size:45px;

    display:block;

    margin-bottom:18px;
}

.stat-card h2{

    color:#38bdf8;

    font-size:42px;

    margin-bottom:10px;
}

.stat-card p{

    color:#cbd5e1;

    font-size:18px;
}